name: CI
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ci-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: rustup default 1.92.0
      - run: rustup component add clippy rustfmt
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # ratchet:Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@ae532dedd825648efd18d9c49c9a443d0398ca0a # ratchet:taiki-e/install-action@cargo-make
      - name: Install protoc compiler
        run: |
          sudo apt update -y
          sudo apt install -y protobuf-compiler
      - run: cargo make ci
      - run: cargo make test

  alls-green:
    if: always()
    runs-on: ubuntu-latest
    needs:
      - ci
    steps:
      - run: ${{ !contains(needs.*.result, 'failure') }}
